@media (max-width: 768px) {
	
	
	
	
	
	
	
	
	
	
	h1 {
		font-size: 36px;
		color: white;
		font-family: Arial;

	}
	
	h2{
	
		color: white;
		font-size: 29px;
		font-family: Arial;
	
	}

	h3 {
		
		font-size: 17px;
		text-align: center;
		
	}

	#Kubu-Logo {
		
		max-width: 150px;
		
	}

	#kolko {
		
		max-width: 150px;
		
	}
	
}